<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Item">
    <select id="getItems" resultType="org.example.ws242.vo.ItemVO">
        SELECT * FROM Item
    </select>
    <insert id="insertItem" parameterType="org.example.ws242.vo.ItemVO">
        INSERT INTO Item (title, content, region, price, itemLink, kakao, peopleLimit, filename, user_id)
        VALUES (#{title}, #{content}, #{region}, #{price}, #{itemLink}, #{kakao}, #{peopleLimit}, #{filename}, #{userVO.userid});
    </insert>




    <resultMap id="ItemResultMap" type="org.example.ws242.vo.ItemVO">
        <id property="id" column="id" />
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="region" column="region" />
        <result property="price" column="price" />
        <result property="itemLink" column="itemLink" />
        <result property="kakao" column="kakao" />
        <result property="peopleLimit" column="peopleLimit" />
        <result property="filename" column="filename" />
        <result property="people" column="people" />
        <!-- userVO와 연관된 데이터 매핑 -->
        <association property="userVO" javaType="org.example.ws242.vo.UserVO">
            <id property="userid" column="userVO_userid" />
            <result property="username" column="userVO_username" />
        </association>
    </resultMap>

    <!-- ResultMap을 사용하는 select -->
    <select id="getItemById" parameterType="int" resultMap="ItemResultMap">
        SELECT
        i.*,
        u.userid AS userVO_userid,
        u.username AS userVO_username
        FROM
        Item i
        LEFT JOIN
        User u
        ON
        i.user_id = u.userid
        WHERE
        i.id = #{id};
    </select>

    <update id="incrementPeople" parameterType="int">
        UPDATE Item
        SET people = people + 1
        WHERE id = #{id}
    </update>


    <select id="getItemsByUserId" parameterType="string" resultType="org.example.ws242.vo.ItemVO">
        SELECT * FROM Item WHERE user_id = #{userId};
    </select>

    <!-- Delete Item -->
    <delete id="deleteItem" parameterType="int">
        DELETE FROM Item WHERE id = #{id};
    </delete>

    <!-- Update Item -->
    <update id="updateItem" parameterType="org.example.ws242.vo.ItemVO">
        UPDATE Item
        SET title = #{title}, content = #{content}, region = #{region}, price = #{price}, itemLink = #{itemLink}, kakao = #{kakao}, peopleLimit = #{peopleLimit}, filename = #{filename}
        WHERE id = #{id};
    </update>


</mapper>