<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="joinitem">
    <insert id="insertJoinedItem" parameterType="org.example.ws242.vo.JoinedItemVO">
        INSERT INTO JoinedItem (user_id, item_id)
        VALUES (#{userVO.userid}, #{itemVO.id})
    </insert>
    <select id="getJoinItemById" parameterType="map" resultType="org.example.ws242.vo.JoinedItemVO">
        SELECT * FROM JoinedItem WHERE user_id = #{userid} AND item_id = #{itemid};
    </select>

</mapper>