<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="joinitem">
    <insert id="insertJoinedItem" parameterType="org.example.ws242.vo.JoinedItemVO">
        INSERT INTO JoinedItem (user_id, item_id)
        VALUES (#{userVO.userid}, #{itemVO.id})
    </insert>
    <select id="getJoinItemById" parameterType="map" resultType="org.example.ws242.vo.JoinedItemVO">
        SELECT * FROM JoinedItem WHERE user_id = #{userid} AND item_id = #{itemid};
    </select>

    <select id="getJoinedItemsByUserId" parameterType="string" resultMap="JoinedItemResultMap">
        SELECT ji.id AS id, ji.user_id AS userid, ji.item_id AS itemid,
        u.userid AS user_userid, u.username AS user_username,
        i.id AS item_id, i.title AS item_title, i.price AS item_price, i.region AS item_region
        FROM JoinedItem ji
        JOIN User u ON ji.user_id = u.userid
        JOIN Item i ON ji.item_id = i.id
        WHERE ji.user_id = #{userid};
    </select>

    <resultMap id="JoinedItemResultMap" type="org.example.ws242.vo.JoinedItemVO">
        <id property="id" column="id"/>
        <association property="userVO" javaType="org.example.ws242.vo.UserVO">
            <id property="userid" column="user_userid"/>
            <result property="username" column="user_username"/>
        </association>
        <association property="itemVO" javaType="org.example.ws242.vo.ItemVO">
            <id property="id" column="item_id"/>
            <result property="title" column="item_title"/>
            <result property="price" column="item_price"/>
            <result property="region" column="item_region"/>
        </association>
    </resultMap>
</mapper>